.Footer {
    background-color: #6278f7;
    display: flex;
    justify-content: space-around;
    padding: 100px 30px;
    align-content: center;
}

.Footer .redesSociais {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-content: center;
}

.Footer h2 {
    color: #fff;
}